[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://gitlab.braingenix.org/john/vcpkg-john.git
[submodule "ThirdParty/NetmorphCMake"]
	path = ThirdParty/NetmorphCMake
	url = https://gitlab.braingenix.org/john/netmorph-c-make-john.git
