# BrainGenix-NES Python Dependencies

# This file lists the direct dependencies.
# 'pip-compile' will use this to generate the full, pinned
# 'requirements.txt' lock file.

numpy==2.2.4
igneous-pipeline==4.34.0
