# Set some global variables
variables:
  PROJECT_NAME: "BrainGenix-NES"
  PLATFORM_BUILD_PREAMBLE: "$PROJECT_NAME_$CI_COMMIT_SHORT_SHA"
  GIT_SUBMODULE_STRATEGY: recursive

# List of stages for jobs, and their order of execution
stages:
  - Update CI Containers
  - Build
  - Package
  - Deploy
  - Test # Temp. disabled tests as they have not yet been implemented.

include: 
  # Update CI Containersers
  - '/CI/Images/Ubuntu2204/CI.yml'
  # - '/CI/Images/Ubuntu2004/CI.yml'
  - '/CI/Images/Doxygen/CI.yml'
  # - '/CI/Images/Drawio/CI.yml' Disabled for now since this uses Electron which is a pain in the ass.
  # - '/CI/Images/Debian11/CI.yml'
  - '/CI/Images/Debian12/CI.yml'

  # Executable Builders
  - '/CI/Build/Ubuntu2204/CI.yml'
  # - '/CI/Build/Ubuntu2004/CI.yml'
  - '/CI/Docs/Doxygen/CI.yml'
  # - '/CI/Docs/Drawio/CI.yml' Disabled for now since this uses Electron which is a pain in the ass.
  # - '/CI/Build/Debian11/CI.yml'
  - '/CI/Build/Debian12/CI.yml'

  # Tests
  - '/CI/Test/Ubuntu2204/CI.yml'
  # - '/CI/Test/Ubuntu2004/CI.yml'
  # - '/CI/Test/Debian11/CI.yml'
  - '/CI/Test/Debian12/CI.yml' 


  # Package Stage
  # - '/CI/Package/Ubuntu2204/CI.yml'
  # # - '/CI/Package/Ubuntu2004/CI.yml'
  # # - '/CI/Package/Debian11/CI.yml'
  # - '/CI/Package/Debian12/CI.yml'



  # TODO: Packaging Tets here

  # TODO: Staging here

  # TODO: Staging Tests here



  # Deploy To Prod
  # - '/CI/Deploy/Prod.yml'
