[Unit]
Description=BrainGenix NES Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/BrainGenix-NES
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target


